extends layout
block content 
    script(src="/javascripts/d3.v3.min.js",charset="utf-8")
    link(rel="stylesheet",href="/stylesheets/style_net.css")
    style(type="text/css")
      .node {
      cursor: pointer;
      stroke: #000;
      stroke-width: .5px;
      }

      .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }
      .tip{margin-left:-120px;  font-size:20px;}
    script(src="/javascripts/forced_tree_view.js")
    #tip.tip
      p 点击收缩/扩展节点
      p ctrl+点击 = 添加一个孩子节点
      p shift+点击 = 删除当前节点